<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <img src="<%= profile.photoUrl %>" height="200" width="200" alt="<%= profile.name %>" />

  <p>My name is <strong>
      <%= profile.name %>
    </strong>
    <br />
    Age: <strong>
      <%= profile.age %>
    </strong>
    <br />
    Marital Status: <strong>
      <%= profile.maritalStatus %>
    </strong>
  </p>

  <h3>Skills</h3>
  <ul id="skills">
    <% profile.skills.forEach(skill=> { %>
      <li>
        <%= skill %>
      </li>
      <% }) %>
  </ul>

  <h3>Sports I Practice</h3>
  <ol type="I">
    <% profile.sports.forEach(sport=> { %>
      <li>
        <%= sport %>
      </li>
      <% }) %>
  </ol>
</body>

</html>